:host {
  display: inline-block;
  width: auto;
  height: 100%;
  box-sizing: border-box;
  margin: 30px;
  border: 1px solid #f0f0f0f0;
  padding: 10px;
}

.type{
  font-size: 10px;
  text-align: left;
}

.total{
  font-size: 25px;
  font-weight: 900;
  text-align: left;
}

.graph{
  margin: 10px auto;
  border: 2px solid #f0f0f0f0;
}

.average{
  font-size: 10px;
  text-align: left;
  span{
    font-weight: bold;
  }
}

