@import "../../../variables";

:host{
  display: block;
}

.title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.storeSearch {
  width: 100%;
  input {
    display: block;
    margin: 0px auto 20px auto;
    height: 30px;
    width: 50%;
    text-align: center;
  }
}
