@import "../../../../variables";

//Selection
.selected{
    font-weight: 700;
}

.selected td {
  height: 51px;
  border-top: 3px solid $selected;
  border-bottom: 3px solid $selected;
}

.selected td:first-child {
  border-left: 3px solid $selected;
}

.selected td:last-child {
  border-right: 3px solid $selected;
}

@media (max-width: 1500px) {
  th{
    height: 33px !important;
  }

  td{
    height: 48px !important;
  }

  tr{
    font-size: 12px !important;
  }
}
