@import "../../../../variables";

//Selection
.selected{
    font-weight: 700;
}

.selected td {
  height: 51px;
  border-top: 3px solid $selected;
  border-bottom: 3px solid $selected;
}

.selected td:first-child {
  border-left: 3px solid $selected;
}

.selected td:last-child {
  border-right: 3px solid $selected;
}

table tbody	
{	
  overflow-y: auto;	
  overflow-x: hidden;	
  -webkit-overflow-scrolling: touch;	
  height: calc(100vh - 625px)	
}	

table tbody, table thead	
{	
  display: block;	
}	

th, td{	
  width: 2000px;	
}	

@media (max-height: 750px) {
  table tbody{
    height: calc(100vh - 578px);
  }
  th{	
    height: 34px;	
  }	
  td{	
    height: 42px;	
    font-size: 14px;
  }	
}