<div class="gridTitle">Summary For {{missionsDate | date:'MMMM d'}}</div>

<table *ngIf="missions.length > 0">
  <thead>
    <tr>
      <th class="coverageIssue"></th>
      <th>Scan</th>
      <th>Outs</th>
      <th>Labels</th>
      <th>Aisles Scanned</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mission of missions; let i = index" (click)="viewMission(mission.missionId)">
      <td class="coverageIssue">
        <fa-icon *ngIf="mission.hasCoverageIssue" size="lg" class="fa" [icon]="faExclamationTriangle"></fa-icon>
      </td>
      <td>
        <!-- <a [routerLink]="['/store', storeId, 'mission', mission.missionId]" (click)="viewMission()"> -->
        <a [routerLink]="['/store', storeId, 'mission', mission.missionId]" (click)="viewMission(mission.missionId)">
          {{mission.missionName}}
        </a>
      </td>
      <td>{{mission.outs}}</td>
      <td>{{mission.labels}}</td>
      <td>{{mission.aisleCount}}</td>
    </tr>
  </tbody>
</table>

<div class="gridTitle" *ngIf="missions.length === 0">No Data Available For This Date</div>
