<div class="gridTitle">Summary For {{missionsDate | date:'MMMM d'}}</div>

<table *ngIf="missions.length > 0">
  <thead>
    <tr>
      <th>Mission ID</th>
      <th>Start Time</th>
      <th>Outs</th>
      <th>Labels</th>
      <th>Aisles Scanned</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mission of missions; let i = index" (click)="viewMission(mission.missionId)">
      <td>
        <a [routerLink]="" (click)="viewMission(mission.missionId)">
          {{mission.startDateTime | date: 'yyyy-MM-dd HH:mm:ss'}}
        </a>
      </td>
      <td>{{mission.startDateTime | date: 'hh:mm a'}}</td>
      <td>{{mission.outs}}</td>
      <td>{{mission.labels}}</td>
      <td>{{mission.aisleCount}}</td>
    </tr>
  </tbody>
</table>

<div class="gridTitle" *ngIf="missions.length === 0">No Data Available For This Date</div>
