@import "../../../variables";

:host{
  display: block;
  margin-bottom: 40px;
}

.gridTitle{
  margin: 90px 40px 35px 40px;
}

.coverageIssue {
  color: red;
  width: 35px;
  border-right: 0px;
}

th:nth-child(2) {
  border-left: 0px;
}
