<div class="gridTitle">Summary For {{missionsDate | date:'MMMM d'}}</div>

<table *ngIf="missionSummaries.length > 0">
  <thead>
    <tr>
      <th>Mission ID</th>
      <th>Time</th>
      <th>Outs</th>
      <th>Labels</th>
      <th>Spreads</th>
      <th>Aisles Scanned</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let missionSummary of missionSummaries; let i = index" (click)="viewMission(missionSummary.missionId)">
      <td>
        <a [routerLink]="" (click)="viewMission(missionSummary.missionId)">
          {{missionSummary.missionDateTime | date: 'yyyy-MM-dd HH:mm:ss'}}
        </a>
      </td>
      <td>{{missionSummary.missionDateTime | date: 'hh:mm a'}}</td>
      <td>{{missionSummary.outs}}</td>
      <td>{{missionSummary.labels}}</td>
      <td>{{missionSummary.spreads}}</td>
      <td>{{missionSummary.aislesScanned}}</td>
    </tr>
  </tbody>
</table>

<div class="gridTitle" *ngIf="missionSummaries.length === 0">No Data Available For This Date</div>
