<div class="panorama">
  <div class="image-owner">
    <div id="pano-image" class="image">
      <img src="assets/aisle.jpg" />
      <ng-container *ngFor="let annotation of annotations()">
        <div class="{{this.currentDisplay}}Annotation annotation"
          [class.selected]="this.currentId === annotation.Id"
          [style.left.px]="annotation.X1"
          [style.top.px]="annotation.Z1"
          [style.width.px]="annotation.X2 - annotation.X1"
          [style.height.px]="annotation.Z2 - annotation.Z1"
          (click)="annotationClicked(annotation.Id)">
        </div>
      </ng-container>
    </div>
  </div>
  <div id="zoom">
    <fa-icon id="zoomIn" class="zoomIcon" [icon]="faPlus" (click)="zoomIn()"></fa-icon>
    <fa-icon id="zoomOut" class="zoomIcon" [icon]="faMinus" (click)="zoomOut()"></fa-icon>
  </div>
</div>
