<div class="panorama">
  <div id="pano-image" class="image">
    <img src="assets/aisle.jpg" />
    <div *ngFor="let out of outs; let i = index">
      <div class="outsAnnotation" *ngIf="currentDisplay=='outs' && (currentId==out.Id || currentId == undefined)" [ngStyle]="{'left.px':100*i}"
        (click)="annotationClicked(out.Id,'outs')">
        out {{out.Id}}
      </div>
    </div>
    <div *ngFor="let label of labels; let i = index">
      <div *ngIf="currentDisplay=='labels' && (currentId==label.Id || currentId == undefined)" class="labelsAnnotation" [ngStyle]="{'left.px':100*i}"
        (click)="annotationClicked(label.Id,'labels')">
        label {{label.Id}}
      </div>
    </div>
  </div>
</div>