.panorama {
  display: block;
  margin: auto;
  overflow: hidden;
  text-align: center;
  position: relative;

  .image-owner {
    height: 365px;

    .image {
      height: 100%;
      position: relative;

      img {
        height: 100%;
      }

      .annotation{
        position: absolute;
        color: white;
        border: 3px solid;
      }

      .outsAnnotation {
        border-color: #FFFFFF;
      }

      .labelsAnnotation {
        border-color:  #00CD87;
      }

      .plugsAnnotation {
        border-color:  #467df3;
      }

      .selected {
        border-color: #ffd54a;
      }
    }
  }

  #zoom {
    position: absolute;
    z-index: 1;
    right: 38px;
    top: 29px;
    width: 44px;
    height: 91px;
    background-color: white;
    border: 3px solid #467df3;
    border-radius: 5px;
    border-collapse: collapse;
    font-size: 24px;

    .zoomIcon {
      color: #467df3;
      display: block;
      position: absolute;
      left: -3px;
      width: 44px;
      height: 44px;
      line-height: 44px;
      border: 3px solid #467df3;
      border-radius: 5px;

      &#zoomIn { top: -3px; }
      &#zoomOut { top: 44px; }
    }
  }
}
