<table>
    <thead>
      <tr>
        <th>Number</th>
        <th>Product</th>
        <th>Barcode</th>
        <th>Product ID</th>
        <th>Resolution</th>
        <th>Time Found</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Cookie Krisp</td>
        <td>34jh343</td>
        <td>342423</td>
        <td>720*480</td>
        <td>22:09:55</td>
      </tr>
      <tr>
          <td>2</td>
          <td>Cornbread</td>
          <td>34435656</td>
          <td>6546457</td>
          <td>720*480</td>
          <td>22:09:55</td>
      </tr>
      <tr>
          <td>3</td>
          <td>Pizza</td>
          <td>456456</td>
          <td>3426783</td>
          <td>1080*720</td>
          <td>22:09:55</td>
      </tr>
      <tr>
          <td>4</td>
          <td>Chicken</td>
          <td>6575757</td>
          <td>4563456</td>
          <td>720*480</td>
          <td>22:09:55</td>
      </tr>
      <tr>
          <td>5</td>
          <td>Pork Chops</td>
          <td>6575757</td>
          <td>4563456</td>
          <td>720*480</td>
          <td>22:09:55</td>
      </tr>
    </tbody>
  </table>