table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 100%;
    max-width: 768px;
    font-size: 11px;
    text-align: center;

}

th{
    border: 1px solid #1c73ff;
    margin: 0px;
    padding: 10px;
    color: #1c73ff;
}

td {
    height: 40px;
}

tr {
    border: 1px solid #1c73ff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.selected{
    font-weight: 700;
}

.selected td {
  height: 38px;
  border-top: 2px solid #FFD54A;
  border-bottom: 2px solid #FFD54A;
}

.selected td:first-child {
  border-left: 2px solid #FFD54A;
}

.selected td:last-child {
  border-right: 2px solid #FFD54A;
}
