<div id="tableSelection">
  <button [ngClass]="{'selectedButton': currentDisplay == 'outs'}" (click)="selectGrid('outs')">Outs  ({{outs?.length}})</button>
  <button [ngClass]="{'selectedButton': currentDisplay == 'labels'}" (click)="selectGrid('labels')">Shelf Labels ({{labels.length}})</button>
  <button *ngIf="showPlugs" [ngClass]="{'selectedButton': currentDisplay == 'plugs'}" (click)="selectGrid('plugs')">Spreads</button>
  <button *ngIf="showSuppliers" [ngClass]="{'selectedButton': currentDisplay == 'suppliers'}" (click)="selectGrid('suppliers')">Suppliers</button>
</div>
<div *ngIf='!panoMode'>
  <div [ngSwitch]="currentDisplay">
    <app-grid [products]="outs" [selectedId]="currentId" (gridClicked)='productGridSelected($event)' *ngSwitchCase="'outs'"></app-grid>
    <app-grid [products]="labels" [selectedId]="currentId" (gridClicked)='productGridSelected($event)' *ngSwitchCase="'labels'"></app-grid>
    <app-grid [products]="labels" [selectedId]="currentId" (gridClicked)='productGridSelected($event)' *ngSwitchCase="'plugs'"></app-grid>
    <app-grid [products]="labels" [selectedId]="currentId" (gridClicked)='productGridSelected($event)' *ngSwitchCase="'suppliers'"></app-grid>
  </div>
</div>
