<div id="tableSelection">
  <button [ngClass]="{'selectedButton': selectedDisplay == 'outs'}" (click)="selectTable('outs')">Outs</button>
  <button [ngClass]="{'selectedButton': selectedDisplay == 'labels'}" (click)="selectTable('labels')">Product Labels</button>
  <button [ngClass]="{'selectedButton': selectedDisplay == 'plugs'}" (click)="selectTable('plugs')">Plugs & Spreads</button>
  <button [ngClass]="{'selectedButton': selectedDisplay == 'suppliers'}" (click)="selectTable('suppliers')">Supplier</button>
</div>

<div [ngSwitch]="selectedDisplay">
  <app-outs [selectedIndex]="selectedIndex" (outsTableClicked)='productTableSelected($event)' *ngSwitchCase="'outs'"></app-outs>
  <app-product-labels [selectedIndex]="selectedIndex" (labelsTableClicked)='productTableSelected($event)' *ngSwitchCase="'labels'"></app-product-labels>
  <app-plugs-spreads *ngSwitchCase="'plugs'"></app-plugs-spreads>
  <app-supplier *ngSwitchCase="'suppliers'"></app-supplier>
  <app-outs *ngSwitchDefault ></app-outs>
</div>
