<table>
    <thead>
      <tr>
        <th>Category</th>
        <th>Category</th>
        <th>Category</th>
        <th>Category</th>
        <th>Category</th>
        <th>Category</th>
        <th>Category</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index">
        <td>{{product.Id}}</td>
        <td>{{product.Id}}</td>
        <td>{{product.Id}}</td>
        <td>{{product.Id}}</td>
        <td>{{product.Id}}</td>
        <td>{{product.Id}}</td>
        <td>{{product.Id}}</td>
        <td>{{product.Id}}</td>
      </tr>
    </tbody>
  </table>
