:host {
    display: block;
}

#title {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin: 24px 10px;
}

button {
    float: right;
    margin: 8px;
}

input {
    float: right;
    margin: 22px 10px;
    font-size: 18px;
    width: 180px;
}

.info {
    display: inline-block;
    font-size: 18px;
    color: #2baae1;
    font-weight: bold;
    margin-left: 25px;
}

.counts {
    font-size: 14px;
    display: inline-block;
    margin-left: 25px;

    div {
        display: inline;

        span {
            font-weight: bold;
            font-size: 18px;
            margin-right: 5px;
        }
    }
}
