<table>
  <thead>
    <tr>
      <th (click)="sortBy('aisleName')">
        Aisle
        <fa-icon *ngIf="sortType === 'aisleName' && !sortReverse" size="sm" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="sortType === 'aisleName' && sortReverse" size="sm" class="fa" [icon]="faAngleUp"></fa-icon>
      </th>
      <th (click)="sortBy('scanDateTime')">
        Capture Time 
        <fa-icon *ngIf="sortType === 'scanDateTime' && !sortReverse" size="sm" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="sortType === 'scanDateTime' && sortReverse" size="sm" class="fa" [icon]="faAngleUp"></fa-icon>
      </th>
      <th (click)="sortBy('outCount')">
        Outs
        <fa-icon *ngIf="sortType === 'outCount' && !sortReverse" size="sm" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="sortType === 'outCount' && sortReverse" size="sm" class="fa" [icon]="faAngleUp"></fa-icon>
      </th>
      <th (click)="sortBy('labelCount')">
        Labels
        <fa-icon *ngIf="sortType === 'labelCount' && !sortReverse" size="sm" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="sortType === 'labelCount' && sortReverse" size="sm" class="fa" [icon]="faAngleUp"></fa-icon>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let aisle of sortAisles()">
      <td>
        <a [routerLink]="['/store', storeId, 'mission', missionId, 'aisle', aisle.aisleId]">
          {{aisle.aisleName}}
        </a>
      </td>
      <td>{{aisle.scanDateTime | date:'medium'}}</td>
      <td>{{aisle.outCount}}</td>
      <td>{{aisle.labelCount}}</td>
    </tr>
  </tbody>
</table>
