<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Barcode</th>
      <th>Product Id</th>
      <th>Price</th>
      <th>Department</th>
      <th>Zone</th>
      <th>Section</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products"
        id="row-{{product.id}}"
        (click)="setClickedRow(product.id)" [class.selected]="product.id === selectedId">
      <td>{{product.name}}</td>
      <td>{{product.barcode}}</td>
      <td>{{product.productId}}</td>
      <td>{{product.price | currency}}</td>
      <td>{{product.department}}</td>
      <td>{{product.zone}}</td>
      <td>{{product.section}}</td>
    </tr>
  </tbody>
</table>
