<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Barcode</th>
      <th>Product Id</th>
      <th>Price</th>
      <th *ngIf="showDepartment">Department</th>
      <th *ngIf="showSection">Section</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products"
        id="row-{{product.labelId}}"
        (click)="setClickedRow(product.labelId)" [class.selected]="product.labelId === selectedId">
      <td>{{product.labelName}}</td>
      <td>{{product.barcode}}</td>
      <td>{{product.productId}}</td>
      <td>{{product.price | currency}}</td>
      <td *ngIf="showDepartment">{{product.department}}</td>
      <td *ngIf="showSection">{{product.section}}</td>
    </tr>
  </tbody>
</table>
