table {
    border-collapse: collapse;
    text-align: center;
    margin: auto 60px;
    width: calc(100% - 120px);
    table-layout: fixed;
}

table tbody, table thead
{
    display: block;
}

table tbody
{
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 67px - 111px - 365px - 95px - 48px);
}

th{
    border: 1px solid #467df3;
    color: #a9b3c7;
    font-size: 12px;
    height: 44px;
}

td{
    height: 55px;
    padding-left: 25px;
}

th, td{
    width: 1000px;
}

tr{
    border: 1px solid #707070;
    border-right: 0px;
}

tbody :first-child{
    border-top: 0px;
}




//Selection
.selected{
    font-weight: 700;
}

.selected td {
  height: 51px;
  border-top: 3px solid #FFD54A;
  border-bottom: 3px solid #FFD54A;
}

.selected td:first-child {
  border-left: 3px solid #FFD54A;
}

.selected td:last-child {
  border-right: 3px solid #FFD54A;
}

//Scrollbar
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: white;
    border: solid 1px #467df3;
    border-top: 0px;
    border-bottom: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #467df3;
    border: 5px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}
