@import "../../variables";

:host{
  font-size: 24px;
  font-weight: bold;
}

.left{
  float: left;
  margin-left: 250px;
}

.right{
  float: right;
  margin-right: 250px;
}

.missionInfo{
  padding: 20px 40px;
  border-bottom: 1px solid black;
}

.headerInfo span{
  font-weight: normal;
}

.exportButton{
  display: inline-block;
}

button{
  cursor: pointer !important;
}

.exportButton{
  margin-top: 20px;
  float: right;
  border-radius: 25px;
  padding: 1px 20px;
}

button > img,
button > span {
  vertical-align: middle;
}

button:focus{
  outline:0;
}

.statRings{
  width:calc(100%-80px);
  text-align:center;
}

.grid, .statRings{
  margin-left: 40px;
  margin-right: 40px;
}

.disabled {
  button{
    color: $greyBorder !important;
    border: 3px $greyBorder solid !important;
    cursor: progress !important;
  }
  .cancel{
    cursor: pointer !important;
  }
  cursor: progress !important;
}
