@import "../../variables";

:host{
  font-size: 24px;
  font-weight: bold;
}

.left{
  float: left;
  margin-left: 250px;
}

.right{
  float: right;
  margin-right: 250px;
}

.missionInfo{
  padding: 20px 40px;
}

.missionDate span{
  font-weight: normal;
}

.exportButton, .missionDate{
  display: inline-block;
}

button{
  cursor: pointer !important;
}

.exportButton{
  float: right;
  background-color: white;
  border-radius: 25px;
  color: $primary;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  border: 3px $primary solid;
  width: auto;
  height: 55px;
  text-align: center;
  padding: 1px 20px;
}

button > img,
button > span {
  vertical-align: middle;
  padding: 0px;
  display: inline-block;
}

button:focus{
  outline:0;
}

.statRings{
  width:calc(100%-80px);
  text-align:center;
}

.grid, .statRings{
  margin-left: 40px;
  margin-right: 40px;
}
