<div *ngIf="mission" class="missionInfo">
  <button class="exportButton" (click)="openModal('export-popup')"><img class="exportImage" src="../../assets/export-blue.png"> <span>Export</span></button>
  <div class="missionName">STORE {{mission.storeId}}</div>
  <div class="missionDate"> Mission: <span> {{mission.missionDateTime | date: 'yyyy-MM-dd HH:mm:ss'}}</span></div>
</div>
<app-export-modal id="export-popup">
  <div class="modal">
      <div class="modal-body">
          <div class="exportTitle">Select File To Export</div>
          <button (click)="exportMission('outs','export-popup')">Outs</button>
          <button (click)="exportMission('labels','export-popup')">Labels</button>
          <button class="cancel" (click)="closeModal('export-popup');">Cancel</button>
      </div>
  </div>
  <div class="modal-background"></div>
</app-export-modal>
<div *ngIf="missionSummary" class="statRings">
  <app-mission-stats *ngIf="store" class="left" [title]="'Out Of Stocks Detected'" [average]="store.totalAverageOuts" [total]="missionSummary.outs"></app-mission-stats>
  <app-mission-stats *ngIf="store" class="right" [title]="'Shelf Labels Detected'" [average]="store.totalAverageLabels" [total]="missionSummary.labels"></app-mission-stats>
</div>
<div class="grid">
  <app-aisles-grid [aisles]="aisles" [missionId]="currentMission"></app-aisles-grid>
</div>
