:host {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.title {
  display: block;
  margin: auto;
}

.stat {
  font-weight: 200;
  display: inline-block;
  margin-right: 20px;
  span {
    font-style:  italic;
    font-weight: 900;
  }
}
