@import '../variables';

header {
  background-color: $primary;
  font-size: 18px;
  color: white;

  #backButton{
    // position: absolute;
    float: left;
    padding: 10px;
    font-weight: 900;
    cursor: pointer;
    .backIcon{
      font-size: 30px;
      margin-left: 15px;
      margin-right: 10px;
    }
    .backIcon, .backText{
      display: inline-block;
      vertical-align: middle;
    }
  }

  #username {
    float: right;
    padding: 20px;
  }

  #logo {
    display: block;
    margin: auto;
    padding: 20px;
    cursor: pointer;
  }
}
