@import '../variables';

header {
  position: relative;
  background-color: $primary;
  font-size: 18px;
  color: white;
  padding: 10px;
  text-align: center;

  #backButton{
    position: absolute;
    font-weight: 900;
    cursor: pointer;
    .backIcon{
      font-size: 27px;
      line-height: 27px;
      margin-right: 10px;
    }
    .backIcon, .backText{
      display: inline-block;
      vertical-align: middle;
    }
  }

  #logo {
    display: inline-block;
    cursor: pointer;
  }

  #username {
    padding: 10px;
    right: 10px;
    font-size: .8em;
    float: right;
    line-height: 27px;

    a {
      color: white;
      font-size: .8em;
    }
  }

  #right {
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .rightDropdown {
    float: right;

    .dropdownButton {
      background-color: $primary;
      color: white;
      height: 50px;
      font-size: 30px;
      width: 65px;
    }
  }

  ul {
    width: 150px;
    position: absolute;
    right: 55px;
    z-index: 2;
    padding: 5px 20px 10px 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 30px rgba(32, 32, 32, 0.411);
    background: white;
    list-style-type: none;
    
    li{
      border-bottom: rgba(211, 211, 211, 0.5) 1px solid;
      padding: 10px;
      cursor:pointer;
      color: $primary;
      
      a{
        color: $primary;
        text-decoration: none;
      }
    }
    
    li:last-child{
      border-bottom: 0px;
      color: black;
      font-size: 12px;
      cursor: default;
    }
    
    li:hover{
      color: black;
    }
  }

  .pointer{
    position: absolute;
    z-index: 2;
    margin-left: 26px;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent white transparent;
  }  
}
