<header>
  <span class="helper"></span><img src="../assets/logo.png"/>
</header>
<app-selection-area [missions]="missions" [aisles]="aisles"
  [missionId]="currentMission" [aisleId]="currentAisle"
  (selectedMission)='setMission($event)' (selectedAisle)='setAisle($event)'>
</app-selection-area>
<app-panorama [outs]="outs" [labels]="labels" [panoramaUrl]="panoramaUrl"
  [currentId]="currentId" [currentDisplay]="currentDisplay"
  (panoramaId)='setId($event)'>
</app-panorama>
<app-product-details [outs]="outs" [labels]="labels"
  (gridId)='setId($event)' (gridDisplay)='setDisplay($event)'
  [currentId]="currentId" [currentDisplay]="currentDisplay">
</app-product-details>
