@import '../variables';

header {
  position: relative;
  background-color: $primary;
  font-size: 18px;
  color: white;
  padding: 10px;
  text-align: center;

  #backButton{
    position: absolute;
    font-weight: 900;
    cursor: pointer;
    .backIcon{
      font-size: 27px;
      line-height: 27px;
      margin-right: 10px;
    }
    .backIcon, .backText{
      display: inline-block;
      vertical-align: middle;
    }
  }

  #username {
    right: 10px;
    font-size: .8em;
    float: right;
    line-height: 27px;

    a {
      color: white;
      font-size: .8em;
    }
  }

  #version {
    color: $primary;
    font-size: .8em;
    padding-right: 10px;
    float: right;
    line-height: 27px;
  }

  #logo {
    display: inline-block;
    cursor: pointer;
  }

  #login {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
  }
}
