h1 {
    text-align: center;
}

table {
    table-layout: auto;
    margin-bottom: 10px;

    td:last-child, th:last-child {
        border-width: 0px 0px 0px 1px;
    }

    td:first-child {
        border-left-width: 1px;;
    }

    td {
        border: solid black;
        border-width: 1px 0px;
    }

    tr {
        border-width: 0px;
    }

    button {
        color: red;
        border-color: red;
        border-left-width: 2px !important;
        padding: 0px 20px;
        font-size: 16px;
        height: 45px;
    }
}
