<h1>Audit Queue</h1>
<table>
    <thead>
        <tr>
            <th>Store</th>
            <th>Mission</th>
            <th>Aisle</th>
            <th>Labels</th>
            <th>Outs</th>
            <th>False Positives</th>
            <th>False Negatives</th>
            <th>Owner</th>
            <th>Audit Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let aisle of aisles">
            <td>{{aisle.storeName}}</td>
            <td>{{aisle.missionName}}</td>
            <td>{{aisle.aisleName}}</td>
            <td>{{aisle.labelsCount}}</td>
            <td>{{aisle.outsCount}}</td>
            <td>{{aisle.falsePositiveCount}}</td>
            <td>{{aisle.falseNegativeCount}}</td>
            <td>{{aisle.owner}}</td>
            <td *ngIf="auditManager() || aisle.auditQueueStatus !== 'queued'">
                {{aisle.auditQueueStatus.replace('-', ' ') | titlecase}}
            </td>
            <td *ngIf="auditor() && aisle.auditQueueStatus === 'queued'">
                <button (click)="auditAisle(aisle)">Audit</button>
            </td>
            <td>
                <button *ngIf="auditManager() && aisle.auditQueueStatus === 'queued'" class="remove"
                    (click)="removeAisle(aisle)">Remove</button>
            </td>
        </tr>
    </tbody>
</table>