@import '../../../variables';

.panorama {
  overflow: hidden;
  text-align: center;
  position: relative;

  .image-owner {
    height: 365px;
    position: relative;

    .image {
      display: inline-block;

      img {
        height: 100%;
      }

      .label {
        position: absolute;
        color: white;
        border: 10px solid;
      }

      .break{
        position: absolute;
        color: $sectionBreak;
        border: 20px solid;
        width: 0px;
        height: 100%;
        top: 0px;
      }
    }
  }

  #zoom {
    position: absolute;
    right: 38px;
    top: 29px;
    width: 44px;
    height: 91px;
    background-color: white;
    border: 3px solid $primary;
    border-radius: 5px;
    font-size: 24px;
    user-select: none;

    .zoomIcon {
      color: $primary;
      display: block;
      position: absolute;
      left: -3px;
      width: 44px;
      height: 44px;
      line-height: 44px;
      border: 3px solid $primary;
      border-radius: 5px;
      cursor: pointer;

      &:active {
        background-color: #cdd9f3;
      }

      &#zoomIn { top: -3px; }
      &#zoomOut { top: 44px; }
    }
  }
}

.panoModeClass{
  height: calc(100vh - 111px - 95px) !important;
}

.comparisonModeClass{
  height: calc((100vh - 134px) / 2) !important;
}

#coverageIssueDetails {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30%;
  background-color: white;
  height: calc(100% - 50px);
  overflow: auto;
  span{
    font-weight: bold;
    margin-bottom: 10px;
    color: red
  }
}

#closeCoverageIssueDetails {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 30%;
  height: 50px;
  background-color: red;
  color: black;
  border-radius: 0px;
  border-width: 0px;
  text-align: center;
}

