<div class="panorama">
  <div [ngClass]="{'panoModeClass': panoMode}" class="image-owner" id="image-owner">
    <div id="pano-image" class="image">
      <img [src]="panoramaUrl" *ngIf="panoramaUrl" />
      <ng-container *ngFor="let annotation of annotations()">
          <div class="{{this.currentDisplay}}Annotation annotation"
          [class.selected]="(this.currentId === annotation.id) && !this.panoMode"
          [style.left.px]="annotation.bounds.left"
          [style.top.px]="annotation.bounds.top"
          [style.width.px]="annotation.bounds.width"
          [style.height.px]="annotation.bounds.height">
        </div>
        <div class="bigTouch"
          [class.selected]="(this.currentId === annotation.id) && !this.panoMode"
          [style.left.px]="annotation.bounds.left-100"
          [style.top.px]="annotation.bounds.top-100"
          [style.width.px]="annotation.bounds.width+200"
          [style.height.px]="annotation.bounds.height+200"
          (click)="annotationClicked(annotation)">
        </div>
        <!-- Just to make it easier to click during NRF -->
      </ng-container>
    </div>
  </div>
  <div id="zoom">
    <fa-icon id="zoomIn" class="zoomIcon" [icon]="faPlus" (click)="zoomIn()"></fa-icon>
    <fa-icon id="zoomOut" class="zoomIcon" [icon]="faMinus" (click)="zoomOut()"></fa-icon>
    <fa-icon id="resetZoom" class="zoomIcon" [icon]="faArrowsAlt" (click)="resetZoom()"></fa-icon>
  </div>
</div>
