.panorama {
  height: 365px;
  display: block;
  margin: auto;
  overflow: hidden;
  text-align: center;

  .image {
    height: 100%;
    position: relative;

    img {
      height: 100%;
    }

    .annotation{
      position: absolute;
      color: white;
      border: 3px solid;
    }

    .outsAnnotation {
      border-color: #FFFFFF;
    }

    .labelsAnnotation {
      border-color:  #00CD87;
    }

    .plugsAnnotation {
      border-color:  #467df3;
    } 
  }
}
