<div class="panorama">
  <div [ngClass]="{'panoModeClass': panoMode}" class="image-owner" id="image-owner">
    <div id="pano-image" class="image">
      <img [src]="'https://bossanovatest9190.blob.core.windows.net/quickstartblobs/BNR-loblaw_0528-20190703_115928UTC-atlaskermit9-official_run_chaperone-LG.10-fullpano.jpg'"/>
      <ng-container *ngFor="let annotation of annotations()">
          <div class="{{this.currentDisplay}}Annotation annotation"
          [class.selected]="(this.currentId === annotation.labelId) && !this.panoMode"
          [style.left.px]="annotation.bounds.left"
          [style.top.px]="annotation.bounds.top"
          [style.width.px]="annotation.bounds.width"
          [style.height.px]="annotation.bounds.height"
          (click)="annotationClicked(annotation)">
        </div>
      </ng-container>
    </div>
  </div>
  <div id="zoom">
    <fa-icon id="zoomIn" class="zoomIcon" [icon]="faPlus" (click)="zoomIn()"></fa-icon>
    <fa-icon id="zoomOut" class="zoomIcon" [icon]="faMinus" (click)="zoomOut()"></fa-icon>
  </div>
</div>
