<app-selection-area [missions]="missions" [aisles]="aisles"
  [selectedMission]="selectedMission" [selectedAisle]="selectedAisle" [panoramaUrl]="panoramaUrl" [outs]="outs" [labels]="labels"
  (missionSelected)='changeMission($event)' (aisleSelected)='setAisle($event)' [panoTouched]=panoTouched
  (panoSwitch)='changePanoMode()' (resetPano)='resetPanoClicked()'>
</app-selection-area>
<app-panorama [outs]="outs" [labels]="labels" [missingBarcodes]="missingBarcodes" [panoramaUrl]="panoramaUrl"
  [currentId]="currentId" [currentDisplay]="currentDisplay" (panoramaId)='setId($event)' [panoMode]='panoMode' 
  (panoramaTouched)='hideDropdowns()' [resetPano]='resetPano'>
</app-panorama>
<app-product-details [outs]="outs" [labels]="labels" [missingBarcodes]="missingBarcodes"
  (gridId)='setId($event)' (gridDisplay)='setDisplay($event)'
  [currentId]="currentId" [currentDisplay]="currentDisplay" [panoMode]='panoMode'>
</app-product-details>
