<table>
    <thead>
      <tr>
        <th>Number</th>
        <th>Product</th>
        <th>Barcode</th>
        <th>Product ID</th>
        <th>Product ID</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Cookie Krisp</td>
        <td>34jh343</td>
        <td>342423</td>
        <td>342423</td>
      </tr>
      <tr>
          <td>1</td>
          <td>Cookie Krisp</td>
          <td>34jh343</td>
          <td>342423</td>
          <td>342423</td>
        </tr>
    </tbody>
  </table>