<div *ngIf="stores && stores.length === 0" class="title">No Stores Found</div>
<div *ngIf="stores && stores.length>0">
  <div class="title">Stores</div>
  <table>
    <thead>
      <tr>
        <th>Store Name</th>
        <th>Store Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let store of stores" (click)="viewStore(store.storeId)">
        <td>
          <a [routerLink]="" (click)="viewStore(store.storeId)">
            {{store.storeName}}
          </a>
        </td>
        <td>{{store.storeAddress}}</td>
      </tr>
    </tbody>
  </table>
</div>

