@import "../../variables";

:host{
  display: block;
  margin: 90px auto 40px auto;
}

.title{
  font-size: 30px;
  font-weight: bold;
  margin-left: calc(50% - 45px);
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin: auto 40px;
  width: calc(100% - 80px);
  table-layout: fixed;
}

table tbody, table thead
{
  display: block;
}

th{
  border: 1px solid $primary;
  color: $primary;
  font-size: 12px;
  height: 44px;
}

td, td a{
  height: 53px;
  font-weight: normal;
  font-size: 18px;
}

td a{
  color: $primary;
}

th, td{
  width: 1000px;
  }

tr{
  border: 1px solid $greyBorder;
}

tbody :first-child{
  border-top: 0px;
}
