<div class="filter">
    <div class="dropdownContainer">
        <button class="dropdownButton" (click)="dropdownClicked()">
            Filters
            <fa-icon *ngIf="!dropdownOpen" size="lg" class="fa" [icon]="faAngleDown"></fa-icon>
            <fa-icon *ngIf="dropdownOpen" size="lg" class="fa" [icon]="faAngleUp"></fa-icon>
        </button>
        <ul *ngIf="dropdownOpen" class="displayDropdown">
            <li *ngFor="let filter of filters | keyvalue" (click)="selectFilter(filter.key)">
                <fa-icon *ngIf="filter.value" size="lg" class="check" [icon]="faCheckSquare"></fa-icon>
                <fa-icon *ngIf="!filter.value" size="lg" class="check" [icon]="faSquare"></fa-icon>
                {{filter.key}}
            </li>
        </ul>
        <div *ngIf="dropdownOpen" class="pointer displayPointer"></div>
    </div> 
</div>
  