<div class="container">
  <div id="missionsContainer">
    <button (click)="selectMissionsDropdown()">Mission {{this.missionId}}</button>
    <ul *ngIf="showMissions">
      <li *ngFor="let mission of missions" [value]="mission.Id" (click)="missionChanged(mission)">Mission {{mission.Id}}</li>
    </ul>
  </div>

  <div id="aislesContainer">
    <button (click)="selectAislesDropdown()">Aisle {{this.aisleId}}</button>
    <ul *ngIf="showAisles">
      <li *ngFor="let aisle of aisles" [value]="aisle.Id" (click)="aisleChanged(aisle)">Aisle {{aisle.AisleId}}</li>
    </ul>
  </div>
</div>
