<div class="container">
  <div class="bottomBar">
    <div id="missionsContainer">
      <button class="dropdownButton" [ngClass]="{'selectedButton': currentDropdown === 'missions'}" (click)="openDropdown('missions')">
        Scan: {{selectedMission.missionName}}
        <fa-icon *ngIf="currentDropdown !== 'missions'" size="lg" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="currentDropdown === 'missions'" size="lg" class="fa" [icon]="faAngleUp"></fa-icon>
      </button>
      <ul class="dropdown" *ngIf="currentDropdown === 'missions'">
        <li
          *ngFor="let mission of missions"
          [class.selected]="mission.missionId === this.selectedMission.missionId"
          [value]="mission"
          (click)="missionChanged(mission)"
        >
          {{mission.missionName}}
        </li>
      </ul>
      <div *ngIf="currentDropdown === 'missions'" class="pointer"></div>
    </div>
    <div id="aislesContainer">
      <button class="dropdownButton" [ngClass]="{'selectedButton': currentDropdown === 'aisles'}" (click)="openDropdown('aisles')">
        Aisle {{selectedAisle?.aisleName}}
        <fa-icon *ngIf="currentDropdown !== 'aisles'" size="lg" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="currentDropdown === 'aisles'" size="lg" class="fa" [icon]="faAngleUp"></fa-icon>
      </button>
      <ul *ngIf="currentDropdown === 'aisles'">
        <li
          [class.selected]="aisle.aisleId === this.selectedAisle.aisleId"
          *ngFor="let aisle of aisles"
          [value]="aisle"
          (click)="aisleChanged(aisle)">
          {{aisle?.aisleName}}
        </li>
      </ul>
      <div *ngIf="currentDropdown === 'aisles'" class="pointer"></div>
    </div>
    <button class="panoChangeButton" (click)="previousPano()"><fa-icon size="lg" class="fa" [icon]="faArrowLeft"></fa-icon></button>
    <button class="panoChangeButton" (click)="nextPano()"><fa-icon size="lg" class="fa" [icon]="faArrowRight"></fa-icon></button>
    <button class="rightButton" (click)="openModal('export-popup')"><img class="exportImage" src="../../assets/export-blue.png"> <span>Export</span></button>
    <button class="rightButton" (click)="resetPanoClick()">Reset Pano</button>

    <div class="rightDropdown rightButton">
      <button class="dropdownButton" (click)="openDropdown('qaModes')">
        QA Modes
        <fa-icon *ngIf="currentDropdown !== 'qaModes'" size="lg" class="marginLeft fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="currentDropdown === 'qaModes'" size="lg" class="marginLeft fa" [icon]="faAngleUp"></fa-icon>
      </button>
      <ul class="displayDropdown" *ngIf="currentDropdown === 'qaModes'">
        <li (click)="qaModeSelected('debug')">
          <fa-icon *ngIf="qaModesTurnedOn.includes('debug')" size="lg" class="check" [icon]="faCheckSquare"></fa-icon>
          <fa-icon *ngIf="!qaModesTurnedOn.includes('debug')" size="lg" class="check" [icon]="faSquare"></fa-icon>
          Debug
        </li>
        <li (click)="qaModeSelected('misreadBarcodes')">
          <fa-icon *ngIf="qaModesTurnedOn.includes('misreadBarcodes')" size="lg" class="check" [icon]="faCheckSquare"></fa-icon>
          <fa-icon *ngIf="!qaModesTurnedOn.includes('misreadBarcodes')" size="lg" class="check" [icon]="faSquare"></fa-icon>
          Misread Barcodes
        </li>
        <li (click)="qaModeSelected('missingBarcodes')">
          <fa-icon *ngIf="qaModesTurnedOn.includes('missingBarcodes')" size="lg" class="check" [icon]="faCheckSquare"></fa-icon>
          <fa-icon *ngIf="!qaModesTurnedOn.includes('missingBarcodes')" size="lg" class="check" [icon]="faSquare"></fa-icon>
          Missing Barcodes
        </li>
        <li (click)="qaModeSelected('falsePositives')">
          <fa-icon *ngIf="qaModesTurnedOn.includes('falsePositives')" size="lg" class="check" [icon]="faCheckSquare"></fa-icon>
          <fa-icon *ngIf="!qaModesTurnedOn.includes('falsePositives')" size="lg" class="check" [icon]="faSquare"></fa-icon>
          False Positives
        </li>
        <li (click)="qaModeSelected('falseNegatives')">
          <fa-icon *ngIf="qaModesTurnedOn.includes('falseNegatives')" size="lg" class="check" [icon]="faCheckSquare"></fa-icon>
          <fa-icon *ngIf="!qaModesTurnedOn.includes('falseNegatives')" size="lg" class="check" [icon]="faSquare"></fa-icon>
          False Negatives
        </li>
      </ul>
      <div *ngIf="currentDropdown === 'qaModes'" class="pointer displayPointer"></div>
    </div>

    <div class="rightDropdown rightButton">
      <button class="dropdownButton" (click)="openDropdown('display')">
        Display
        <fa-icon *ngIf="currentDropdown !== 'display'" size="lg" class="marginLeft fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="currentDropdown === 'display'" size="lg" class="marginLeft fa" [icon]="faAngleUp"></fa-icon>
      </button>
      <ul class="displayDropdown" *ngIf="currentDropdown === 'display'">
        <li (click)="displaySelected('outs')">
          <fa-icon *ngIf="currentlyDisplayed.includes('outs')" size="lg" class="check" [icon]="faCheckSquare"></fa-icon>
          <fa-icon *ngIf="!currentlyDisplayed.includes('outs')" size="lg" class="check" [icon]="faSquare"></fa-icon>
          Outs
        </li>
        <li (click)="displaySelected('shelfLabels')">
          <fa-icon *ngIf="currentlyDisplayed.includes('shelfLabels')" size="lg" class="check" [icon]="faCheckSquare"></fa-icon>
          <fa-icon *ngIf="!currentlyDisplayed.includes('shelfLabels')" size="lg" class="check" [icon]="faSquare"></fa-icon>
          Shelf Labels
        </li>
        <li *ngIf="showTopStock" (click)="displaySelected('topStock')">
          <fa-icon *ngIf="currentlyDisplayed.includes('topStock')" size="lg" class="check" [icon]="faCheckSquare"></fa-icon>
          <fa-icon *ngIf="!currentlyDisplayed.includes('topStock')" size="lg" class="check" [icon]="faSquare"></fa-icon>
          Top Stock
        </li>
        <li *ngIf="showMisreadBarcodes" (click)="displaySelected('misreadBarcodes')">
          <fa-icon *ngIf="currentlyDisplayed.includes('misreadBarcodes')" size="lg" class="check" [icon]="faCheckSquare"></fa-icon>
          <fa-icon *ngIf="!currentlyDisplayed.includes('misreadBarcodes')" size="lg" class="check" [icon]="faSquare"></fa-icon>
          Misread Barcodes
        </li>
        <li *ngIf="showSectionLabels" (click)="displaySelected('sectionLabels')">
          <fa-icon *ngIf="currentlyDisplayed.includes('sectionLabels')" size="lg" class="check" [icon]="faCheckSquare"></fa-icon>
          <fa-icon *ngIf="!currentlyDisplayed.includes('sectionLabels')" size="lg" class="check" [icon]="faSquare"></fa-icon>
          Section Labels
        </li>
        <li *ngIf="showSectionBreaks" (click)="displaySelected('sectionBreaks')">
          <fa-icon *ngIf="currentlyDisplayed.includes('sectionBreaks')" size="lg" class="check" [icon]="faCheckSquare"></fa-icon>
          <fa-icon *ngIf="!currentlyDisplayed.includes('sectionBreaks')" size="lg" class="check" [icon]="faSquare"></fa-icon>
          Section Breaks
        </li>
      </ul>
      <div *ngIf="currentDropdown === 'display'" class="pointer displayPointer"></div>
    </div>

    <!-- <div id="collapsedContainer">
      <button class="dropdownButton" [ngClass]="{'selectedButton': showOptions}" (click)="selectOptionsDropdown()">
        Options
        <fa-icon *ngIf="!showOptions" size="lg" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="showOptions" size="lg" class="fa" [icon]="faAngleUp"></fa-icon>
      </button>
      <ul class="dropdown" *ngIf="showOptions">
        <li (click)="openModal('export-popup')">Export</li>
        <li (click)="resetPanoClick()">Reset Pano</li>
        <li *ngIf="showQA" (click)="toggleModeClicked('debug')">Debug</li>
        <li *ngIf="showQA" (click)="toggleModeClicked('misreadBarcodes')">Misread Barcodes</li>
      </ul>
      <div *ngIf="showOptions" class="pointer"></div>
    </div> -->

  </div>

</div>
<app-export-modal id="export-popup">
  <div class="modal">
      <div class="modal-body" [ngClass]="{'disabled': currentlyExporting}">
          <div class="exportTitle">Select File To Export</div>
          <button [disabled]="currentlyExporting" (click)="exportAisle('outs','export-popup')">Outs</button>
          <button [disabled]="currentlyExporting" (click)="exportAisle('labels','export-popup')">Labels</button>
          <button *ngIf="exportOnHand" [disabled]="currentlyExporting" (click)="exportAisle('onhand','export-popup')">On Hand</button>
          <button *ngIf="exportingPDF" [disabled]="currentlyExporting" (click)="exportPDF('export-popup')">On Hand PDF</button>
          <button [disabled]="currentlyExporting" (click)="exportPano('export-popup')">Pano</button>
          <button class="cancel" (click)="closeModal('export-popup');">Close</button>
      </div>
  </div>
  <div class="modal-background"></div>
</app-export-modal>
