@import '../../../variables';

.bottomBar {
  padding: 20px;
  display: block;

}

button{
    height: 45px;
    padding: 0px 20px;
    cursor: pointer !important;
    width: auto;
    margin: 0px 5px;
    font-size: 15px;
}

.disabled {
  button{
    color: $greyBorder !important;
    border: 3px $greyBorder solid !important;
    cursor: progress !important;
  }
  .cancel{
    cursor: pointer !important;
  }
  cursor: progress !important;
}

.rightButton {
  float: right;
}

.storeInfo {
  float: left;
  font-size: 24px;
  font-weight: bold;
  margin: 7px 10px 0px 0px;
}

.rightDropdown{
  button{
    width: auto;
  }
}

.marginLeft{
  margin-left: 10px;
}

.panoChangeButton{
  padding: 0px 16px;
  border-radius: 100px;
}


button > img,
button > span {
  vertical-align: middle;
  padding: 0px 5px;
  margin: 0px;
  display: inline-block;
}

@media (max-width: 1350px) {
  .storeInfo {
    font-size: 18px;
  }
  button{
    font-size: 13px !important;
    padding: 0px 8px !important;
  }
  #missionsContainer button {
    width: 180px !important;
  }
  #aislesContainer button {
    width: 110px !important;
  }
}

@media (min-width: 976px) {
  #collapsedContainer{
    display: none;
  }
}

@media (max-width: 975px) {
  .hideSmallScreen, .storeInfo  {
    display: none;
  }

  .bottomBar {
    padding: 20px 10px
  }

  button {
    margin: 0px 1px;
  }
}

.selectedButton {
  background-color: $primary;
  color:  White;
}

button:focus{
  outline:0;
}

.container{
    width: 100%;
}

#missionsContainer,#aislesContainer{
  float: left;
  width: auto;
}

#missionsContainer button {
  width: 275px;
}
#aislesContainer button {
  width: 175px;
}

#collapsedContainer{
  float: right;
  width: auto;
  button {
    width: 175px;
  }
}

ul{
  width: auto;
  min-width: 200px;
  max-height: 350px;
  overflow: auto;
  size: 18px;
  position: absolute;
  display: block;
  z-index: 2;
  margin-left: 6px;
  padding: 5px 20px 10px 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 30px rgba(32, 32, 32, 0.411);
  background: white;
  text-align: left;
  list-style-type: none;
  li{
    border-bottom: rgba(211, 211, 211, 0.5) 1px solid;
    padding: 10px;
    cursor:pointer;
    color: $primary;
  }
  li:last-child{
    border-bottom: 0px;
  }
  li:hover{
    color: black;
  }
}

.fa{
  float: right;
}

.check{
  float: left;
  margin-right: 3px;
}

.selected{
  color: black !important;
}

//Scrollbar
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

.pointer{
  position: absolute;
  z-index: 2;
  margin-left: 50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent white transparent;
}

.selectedButton{
  background-color: $primary;
  color:  #434343;
}
