<div class="container">
  <div class="bottomBar">
    <div id="missionsContainer">
      <button class="dropdownButton" [ngClass]="{'selectedButton': showMissions}" (click)="selectMissionsDropdown()">
        Mission {{selectedMission?.missionDateTime | date: 'yyyy-MM-dd HH:mm:ss'}}
        <fa-icon *ngIf="!showMissions" size="lg" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="showMissions" size="lg" class="fa" [icon]="faAngleUp"></fa-icon>
      </button>
      <ul class="dropdown" *ngIf="showMissions">
        <li
          *ngFor="let mission of missions"
          [class.selected]="mission.id === this.selectedMission.id"
          [value]="mission"
          (click)="missionChanged(mission)"
        >
          {{mission?.missionDateTime | date: 'yyyy-MM-dd HH:mm:ss'}}
        </li>
      </ul>
      <div *ngIf="showMissions" class="pointer"></div>
    </div>
    <div id="aislesContainer">
      <button class="dropdownButton" [ngClass]="{'selectedButton': showAisles}" (click)="selectAislesDropdown()">
        Aisle {{selectedAisle?.name}}
        <fa-icon *ngIf="!showAisles" size="lg" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="showAisles" size="lg" class="fa" [icon]="faAngleUp"></fa-icon>
      </button>
      <ul *ngIf="showAisles">
        <li
          [class.selected]="aisle.id === this.selectedAisle.id"
          *ngFor="let aisle of aisles"
          [value]="aisle"
          (click)="aisleChanged(aisle)"
        >
          {{aisle?.name}}
        </li>
      </ul>
      <div *ngIf="showAisles" class="pointer"></div>
    </div>
    <button class="pdfButton" (click)="exportPDF()">Download PDF</button>
    <button class="resetPanoButton" (click)="resetPanoClick()">Reset Pano</button>
  </div>
</div>
