<table>
  <thead>
    <tr>
      <th (click)="sortBy('aisleName')">
        Aisle
        <fa-icon *ngIf="sortType === 'aisleName' && !sortReverse" size="sm" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="sortType === 'aisleName' && sortReverse" size="sm" class="fa" [icon]="faAngleUp"></fa-icon>
      </th>
      <th (click)="sortBy('scanDateTime')">
        Capture Time 
        <fa-icon *ngIf="sortType === 'scanDateTime' && !sortReverse" size="sm" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="sortType === 'scanDateTime' && sortReverse" size="sm" class="fa" [icon]="faAngleUp"></fa-icon>
      </th>
      <th (click)="sortBy('outsCount')">
        Outs
        <fa-icon *ngIf="sortType === 'outsCount' && !sortReverse" size="sm" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="sortType === 'outsCount' && sortReverse" size="sm" class="fa" [icon]="faAngleUp"></fa-icon>
      </th>
      <th (click)="sortBy('labelsCount')">
        Labels
        <fa-icon *ngIf="sortType === 'labelsCount' && !sortReverse" size="sm" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="sortType === 'labelsCount' && sortReverse" size="sm" class="fa" [icon]="faAngleUp"></fa-icon>
      </th>
      <th *ngIf="auditManager()" (click)="sortBy('auditQueueStatus')">
        Audit Status
        <fa-icon *ngIf="sortType === 'auditQueueStatus' && !sortReverse" size="sm" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="sortType === 'auditQueueStatus' && sortReverse" size="sm" class="fa" [icon]="faAngleUp"></fa-icon>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let aisle of sortAisles()">
      <td>
        <a [routerLink]="['/store', storeId, 'mission', missionId, 'aisle', aisle.aisleId]">
          {{aisle.aisleName}}
        </a>
      </td>
      <td>{{aisle.scanDateTime | date:'medium'}}</td>
      <td>{{aisle.outsCount}}</td>
      <td>{{aisle.labelsCount}}</td>
      <td *ngIf="auditManager()">
        <button *ngIf="!aisle.auditQueueStatus && !addAllClicked" (click)="queueAisle(aisle.aisleId)">Queue</button>
        <ng-container *ngIf="aisle.auditQueueStatus">{{aisle.auditQueueStatus.replace('-', ' ') | titlecase}}</ng-container>
        <ng-container *ngIf="aisle.auditQueueStatus === null && addAllClicked">Queued</ng-container>
      </td>
    </tr>
  </tbody>
</table>
