<table>
  <thead>
    <tr>
      <th (click)="sortBy('aisleName')">
        Aisle
        <fa-icon *ngIf="sortType === 'aisleName' && !sortReverse" size="sm" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="sortType === 'aisleName' && sortReverse" size="sm" class="fa" [icon]="faAngleUp"></fa-icon>
      </th>
      <th *ngIf="!auditManager() && !auditor()" (click)="sortBy('scanDateTime')">
        Capture Time 
        <fa-icon *ngIf="sortType === 'scanDateTime' && !sortReverse" size="sm" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="sortType === 'scanDateTime' && sortReverse" size="sm" class="fa" [icon]="faAngleUp"></fa-icon>
      </th>
      <th (click)="sortBy('outsCount')">
        Outs
        <fa-icon *ngIf="sortType === 'outsCount' && !sortReverse" size="sm" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="sortType === 'outsCount' && sortReverse" size="sm" class="fa" [icon]="faAngleUp"></fa-icon>
      </th>
      <th (click)="sortBy('labelsCount')">
        Labels
        <fa-icon *ngIf="sortType === 'labelsCount' && !sortReverse" size="sm" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="sortType === 'labelsCount' && sortReverse" size="sm" class="fa" [icon]="faAngleUp"></fa-icon>
      </th>
      <th *ngIf="auditManager() || auditor()" (click)="sortBy('falsePositiveCount')">
        False Positives
        <fa-icon *ngIf="sortType === 'falsePositiveCount' && !sortReverse" size="sm" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="sortType === 'falsePositiveCount' && sortReverse" size="sm" class="fa" [icon]="faAngleUp"></fa-icon>
      </th>
      <th *ngIf="auditManager() || auditor()" (click)="sortBy('falseNegativeCount')">
        False Negatives
        <fa-icon *ngIf="sortType === 'falseNegativeCount' && !sortReverse" size="sm" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="sortType === 'falseNegativeCount' && sortReverse" size="sm" class="fa" [icon]="faAngleUp"></fa-icon>
      </th>
      <th *ngIf="auditManager() || auditor()" (click)="sortBy('auditQueueStatus')">
        Audit Status
        <fa-icon *ngIf="sortType === 'auditQueueStatus' && !sortReverse" size="sm" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="sortType === 'auditQueueStatus' && sortReverse" size="sm" class="fa" [icon]="faAngleUp"></fa-icon>
      </th>
      <th *ngIf="hasProblems()" (click)="sortBy('auditQueueStatus')">
        Problems
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let aisle of sortAisles()">
      <td>
        <a [routerLink]="['/store', storeId, 'mission', missionId, 'aisle', aisle.aisleId]">
          {{aisle.aisleName}}
        </a>
      </td>
      <td *ngIf="!auditManager() && !auditor()">{{aisle.scanDateTime | date:'medium'}}</td>
      <td>{{aisle.outsCount}}</td>
      <td>{{aisle.labelsCount}}</td>
      <td *ngIf="auditManager() || auditor()" >{{aisle.falsePositiveCount}}</td>
      <td *ngIf="auditManager() || auditor()" >{{aisle.falseNegativeCount}}</td>
      <td *ngIf="auditManager() || auditor()">
        <button *ngIf="auditManager() && !aisle.auditQueueStatus && !addAllClicked" (click)="queueAisle(aisle.aisleId)">Queue</button>
        <ng-container *ngIf="aisle.auditQueueStatus">{{aisle.auditQueueStatus.replace('-', ' ') | titlecase}}</ng-container>
        <ng-container *ngIf="aisle.auditQueueStatus === null && (addAllClicked || auditor())">Queued</ng-container>
      </td>
      <td *ngIf="hasProblems()" class="coverageIssue">
        <div *ngIf="aisle.missingPreviouslySeenBarcodePercentage > environment.config.missingPreviosulySeenThreshold">
          <fa-icon size="lg" class="fa" [icon]="faExclamationTriangle"></fa-icon>
          Coverage Issue
        </div>
      </td>
    </tr>
  </tbody>
</table>
