@import "../../../variables";

:host{
  display: block;
}

.title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.storeSearch {
  width: 100%;
  input {
    display: block;
    margin: 0px auto 20px auto;
    height: 30px;
    width: 50%;
    text-align: center;
  }
}

.canary {
  color: $primary;
  width: 35px;
  border-right: 0px;
}

th:nth-child(2) {
  border-left: 0px;
}

.flaggedButton {
  position: absolute;
  right: 10px;
  top: 60px;
}
