<div *ngIf="stores && stores.length === 0" class="title">No Stores Found</div>
<div *ngIf="stores && stores.length>0">
  <div class="title">Stores ({{(stores | filter:searchTerm)?.length }})</div>
  <div class="storeSearch">
    <input type="text" placeholder="Search By Store Or Robot" [(ngModel)]="searchTerm">
  </div>
  <table>
    <thead>
      <tr>
        <th class="canary"></th>
        <th>Store Name</th>
        <th>Robots</th>
        <th>Store Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let store of stores | deepFilter: searchTerm: keysToExclude">
        <td class="canary">
            <fa-icon *ngIf="store.canary" size="lg" class="fa" [icon]="faCopyright"></fa-icon>
        </td>
        <td>
          <a [routerLink]="['/store', store.storeId]">
            {{store.storeName}}
          </a>
        </td>
        <td>{{store.robots}}</td>
        <td>{{store.storeAddress}}</td>
      </tr>
    </tbody>
  </table>
</div>
