<header>
  <span class="helper"></span><img src="../assets/logo.png"/>
</header>
<div class="storeInfo">Store Info</div>
<div>Date</div>
<app-stat-ring [title]="'Data Delivery Average'" [stat]="'8:22'" [current]="6" [max]="10"></app-stat-ring>
<app-stat-ring [title]="'Average Mission Coverage'" [stat]="'99%'" [current]="99" [max]="100"></app-stat-ring>
<app-stat-ring [title]="'Average Mission Completion'" [stat]="'72%'" [current]="72" [max]="100"></app-stat-ring>
<app-count-graph></app-count-graph>
<app-data-grid></app-data-grid>
