<div class="pane">
  <table>
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Barcode</th>
        <th>Product Id</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index"
          (click)="setClickedRow(product.Id)" [class.selected]="product.Id === selectedId">
        <td>{{product.Id}}</td>
        <td>{{product.MissionId}}</td>
        <td>{{product.ProductId}}</td>
        <td>{{product.Zone}}</td>
      </tr>
    </tbody>
  </table>
</div>
