.pane {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 67px - 365px - 95px);
    width: calc(100%-120px);
    margin: auto 60px;
}

#outer {
    display: flex;
    flex-flow: column;
    height: 100%;
}

table{
    border-collapse: collapse;
    font-size: 18px;
    text-align: center;
    padding: 3px;
    width: 100%;
}

th{
    border: 1px solid #467df3;
    color: #467df3;
    font-size: 12px;
    height: 44px;
}

td{
    height: 55px;
}

tr{
    border: 1px solid #707070;
}

.selected{
    font-weight: 700;
}

.selected td {
  height: 51px;
  border-top: 3px solid #FFD54A;
  border-bottom: 3px solid #FFD54A;
}

.selected td:first-child {
  border-left: 3px solid #FFD54A;
}

.selected td:last-child {
  border-right: 3px solid #FFD54A;
}

::-webkit-scrollbar {
    width: 16px;
    
}

::-webkit-scrollbar-track {
    background: white;
    border: solid 1px #467df3;

}

::-webkit-scrollbar-thumb {
    background-color: #467df3;
    border: 5px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}