.storeInfo{
  text-align: center;
  padding: 12px;
  background: #f0f0f0f0
}

.storeName{
  font-weight: bold;
  font-size: 12px;
}

.storeAddress{
  font-size: 12px;
  span{
    font-weight: bold;
  }
}

.date{
  text-align: center;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: bold;
}

.rings, .graphs{
  text-align: center;
}

img{
  display: block;
  margin: 8px auto;
}
