<header>
  <img src="../assets/logo.png"/>
</header>
<div class="storeInfo">
  <div class="storeName"><div id="circle"></div>STORE 0054</div>
  <div class="storeAddress"> Colosprings <span> 3201 E Platte Ave, Colorado Springs, CO 80909 </span></div>
</div>
<div class="title">Daily Stats</div>
<div class="graphDisplay"><app-daily-graphs [title]="'Outs'" [data]="outsData"></app-daily-graphs></div>
<div class="graphDisplay"><app-daily-graphs [title]="'Labels'" [data]="labelsData"></app-daily-graphs></div>
<div class="graphDisplay"><app-daily-graphs [title]="'Spreads'" [data]="spreadsData"></app-daily-graphs></div>
<div class="gridTitle">Summary For November 11th</div>
<app-missions-grid [products]="missions"></app-missions-grid>
