<div *ngIf="store" class="storeInfo">
  <div class="storeName">{{store.storeName}}</div>
  <div class="storeAddress">{{store.storeAddress}}</div>
</div>
<div class="storeButton">
  <ng-datepicker [(ngModel)]="graphEndDate" (ngModelChange)="changeGraphDates($event)" [options]="options" [position]="'bottom-left'"></ng-datepicker>
</div>
<button class="storeButton" (click)="exportPerformanceData()">Performance Data</button>
<div class="title">Daily Statistics (Last 14 days)</div>
<div *ngIf="store">
  <div class="graphDisplay"><app-daily-graphs [title]="'Out of Stocks Detected'" [data]="store.summaryOuts" [overallAverage]="store.totalAverageOuts" [currentIndex]="selectedIndex" (selectedIndex)='setIndex($event)'></app-daily-graphs></div>
  <div class="graphDisplay"><app-daily-graphs [title]="'Shelf Labels Detected'" [data]="store.summaryLabels" [overallAverage]="store.totalAverageLabels" [currentIndex]="selectedIndex" (selectedIndex)='setIndex($event)'></app-daily-graphs></div>
</div>
<app-missions-grid *ngIf="missionSummaries" [averageStoreOuts]="store.totalAverageOuts" [averageStoreLabels]="store.totalAverageLabels"
[missionSummaries]="missionSummaries" [missionsDate]="selectedDate" [storeId]="storeId"></app-missions-grid>
