:host {
  font-size: 24px;
  font-weight: bold;
}

.storeInfo {
  padding: 20px 40px;
}

.storeAddress span {
  font-weight: normal;
}

.title {
  padding: 40px 40px 0px 40px;
}

.graphDisplay {
  margin: 40px 40px 0px 40px;
  &:first-child {
    margin-top: 35px;
  }
}

#circle {
  display: inline-block;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background: green;
}
