$primary: #2baae1;
$selected: #FFD54A;
$labels: #00CD87;
$outs: #FFFFFF;
$misreadBarcodes: #FF0000;
$sectionLabels: #800080;
$sectionBreak: #800080;
$topStock: #FFC0CB;
$productLines: #c0c0c0;
$product: #0000FF;
$greyBorder: #707070;
