body {
  margin: 0;
}

@font-face {
  font-family: OpenSans;
  src: url(assets/Open_Sans/OpenSans-Regular.ttf) format("opentype");
}

*{
  font-family: 'OpenSans', sans-serif;
}

html,
body {
  width: 100%;
}

app-export-modal {
  /* modals are hidden by default */
  display: none;

  button{
    border-radius: 25px;
    background-color: White;
    border: 3px blue solid;
    color:  blue;
    margin: 20px 50px;
    width: 220px;
    height: 55px;
    font-size: 18px;
    font-weight: bold;
  }

  .modal {
      /* modal container fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      /* z-index must be higher than .modal-background */
      z-index: 1000;

      /* enables scrolling for tall modals */
      overflow: auto;

      .modal-body {
          padding: 20px;
          background: #fff;
          text-align: center;

          /* margin exposes part of the modal background */
          margin: 100px 400px;
      }
  }

  .modal-background {
      /* modal background fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      /* semi-transparent black  */
      background-color: #000;
      opacity: 0.75;

      /* z-index must be below .modal and above everything else  */
      z-index: 900;
  }
}

body.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}

