<table>
  <thead>
    <tr>
      <th (click)="sortBy('aisleName')">
        Aisle
        <fa-icon *ngIf="sortType === 'aisleName' && !sortReverse" size="sm" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="sortType === 'aisleName' && sortReverse" size="sm" class="fa" [icon]="faAngleUp"></fa-icon>
      </th>
      <th (click)="sortBy('scanDateTime')">
        Capture Time 
        <fa-icon *ngIf="sortType === 'scanDateTime' && !sortReverse" size="sm" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="sortType === 'scanDateTime' && sortReverse" size="sm" class="fa" [icon]="faAngleUp"></fa-icon>
      </th>
      <th (click)="sortBy('outsCount')">
        Outs
        <fa-icon *ngIf="sortType === 'outsCount' && !sortReverse" size="sm" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="sortType === 'outsCount' && sortReverse" size="sm" class="fa" [icon]="faAngleUp"></fa-icon>
      </th>
      <th (click)="sortBy('labelsCount')">
        Labels
        <fa-icon *ngIf="sortType === 'labelsCount' && !sortReverse" size="sm" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="sortType === 'labelsCount' && sortReverse" size="sm" class="fa" [icon]="faAngleUp"></fa-icon>
      </th>
      <th (click)="sortBy('historicalAverageDetected')">
        Historical Average
        <fa-icon *ngIf="sortType === 'historicalAverageDetected' && !sortReverse" size="sm" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="sortType === 'historicalAverageDetected' && sortReverse" size="sm" class="fa" [icon]="faAngleUp"></fa-icon>
      </th>
      <th (click)="sortBy('coverageDelta')">
        Coverage Delta
        <fa-icon *ngIf="sortType === 'coverageDelta' && !sortReverse" size="sm" class="fa" [icon]="faAngleDown"></fa-icon>
        <fa-icon *ngIf="sortType === 'coverageDelta' && sortReverse" size="sm" class="fa" [icon]="faAngleUp"></fa-icon>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let aisle of sortAisles()">
      <td>
        <a [routerLink]="['/store', storeId, 'mission', missionId, 'aisle', aisle.aisleId]">
          {{aisle.aisleName}}
        </a>
      </td>
      <td>{{aisle.scanDateTime | date:'MMM d h:mm:ss a'}}</td>
      <td>{{aisle.outsCount}}</td>
      <td>{{aisle.labelsCount}}</td>
      <td *ngIf="aisle.historicalAverageDetected && aisle.historicalAverageSampleSize">{{aisle.historicalAverageDetected}} in last {{aisle.historicalAverageSampleSize}} missions</td>
      <td *ngIf="!aisle.historicalAverageDetected || !aisle.historicalAverageSampleSize">N/A</td>
      <td *ngIf="aisle.coverageDelta" [ngStyle]="setDeltaStyle(aisle.coverageDelta)">{{aisle.coverageDelta * 100}}%</td>
      <td *ngIf="!aisle.coverageDelta">N/A</td>
    </tr>
  </tbody>
</table>
