@import '../../../variables';

//Some dropdown specific styles are in styles.scss
.dropdown {
  display: inline-block;
  width: 167px;
  color: #2baae1;
  margin: 10px 60px 10px 0px;
}

.selectedButton {
    background-color: $primary;
    color:  White;
}

#tableSelection{
    margin: 10px auto;
    display: block;
    width: 80%;
    border: 2px $primary solid;
    padding: 5px;
    text-align: center;
    div:first-child {
      margin-left: 0px;
    }
    div {
      display: inline-block;
      text-align: center;
      padding: 0px 15px;
      color:  $primary;
      margin: 10px 25px;
      font-size: 18px;
      font-weight: bold;
    }
}

@media (max-width: 1450px) {
  #tableSelection div{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
  }
}

@media (max-height: 750px) {
  #tableSelection{
    margin: 5px auto !important;
    padding: 3px !important;
    div {
      margin: 7px 10px !important;
      font-size: 16px !important;
    }
  }
}

#filterButtons{
  margin: 10px 60px;
  float: right;
  border: 1px $greyBorder solid;
  border-radius: 80px;
  height: auto;
  padding-left: 30px;
  button{
    display: inline-block;
    margin: 9px 20px;
    text-align: left;
    padding: 0px 20px;
  }
  div{
    display: inline-block;
    color: $greyBorder;
    font-weight: bold;
    margin-right: 10px;
  }
}

.fa{
  color: red
}

#filterTitle{
  margin-right: 20px;
}
