@import '../../../variables';


//Some dropdown specific styles are in styles.scss
.dropdown {
  display: inline-block;
  width: 167px;
  color: #2baae1;
  margin: 10px 60px 10px 0px;
}

//Ipad Mini and 10.5 pro
@media (max-width: 1500px) {
  button {
    width: 200px !important;
    height: 48px !important;
    font-size: 14px !important;
  }
}

.selectedButton {
    background-color: $primary;
    color:  White;
}

button:focus {
    outline:0;
}

#tableSelection{
    margin: 10px auto;
    display: block;
    width: 970px;
    border: 2px $primary solid;
    padding: 5px;
    text-align: center;
    div:first-child {
      margin-left: 0px;
    }
    div {
      display: inline-block;
      text-align: center;
      padding: 0px 15px;
      color:  $primary;
      margin: 10px 25px;
      font-size: 18px;
      font-weight: bold;
    }
}

@media (max-width: 975px) {
  #tableSelection{
    width: 550px;
    div {
      padding: 0px 2px;
      margin: 10px 2px;
      font-size: 13px;
    }
}
}

#filterButtons{
  margin: 10px 60px;
  float: right;
  border: 1px $greyBorder solid;
  border-radius: 80px;
  height: auto;
  padding-left: 30px;
  button{
    display: inline-block;
    margin: 9px 20px;
    text-align: left;
    padding: 0px 20px;
  }
  div{
    display: inline-block;
    color: $greyBorder;
    font-weight: bold;
    margin-right: 10px;
  }
}

.fa{
  float: right;
}

#filterTitle{
  margin-right: 20px;
}
