<div>
  <div>
    <div id="tableSelection">
      <div>
        Outs: {{(outs || []).length}}
      </div>
      <div>
        Shelf Labels: {{(labels || []).length}}
      </div>
      <div *ngIf="showMisreadBarcodes">
        Misread Barcodes: {{(misreadBarcodes || []).length}}
      </div>
      <div *ngIf="showSectionLabels">
        Section Labels: {{(sectionLabels || []).length}}
      </div>
      <div *ngIf="showTopStock">
        Top Stock: {{(topStock || []).length}}
      </div>
      <div *ngIf="showSectionBreaks">
        Section Breaks: {{(sectionBreaks || []).length}}
      </div>
    </div>
  </div>
  <div *ngIf="showDepartment || showSection" id="filterButtons">
    <div id="filterTitle">Filter</div>
    <ng-multiselect-dropdown *ngIf="showDepartment" class="dropdown" [placeholder]="'Department'"
      [data]="departmentsList" [(ngModel)]="selectedDepts" [settings]="dropdownSettings" (onSelect)="runFilters()"
      (onSelectAll)="runFilters()" (onDeSelect)="runFilters()" (onDeSelectAll)="runFilters()">
    </ng-multiselect-dropdown>
    <ng-multiselect-dropdown *ngIf="showSection" class="dropdown" [placeholder]="'Section'" [data]="sectionsList"
      [(ngModel)]="selectedSects" [settings]="dropdownSettings" (onSelect)="runFilters()" (onSelectAll)="runFilters()"
      (onDeSelect)="runFilters()" (onDeSelectAll)="runFilters()">
    </ng-multiselect-dropdown>
  </div>
</div>

<div *ngIf='!panoMode'>
  <app-product-grid [allLabels]="allLabels" [selectedId]="currentId" (gridClicked)='productGridSelected($event)' [qaMode]="qaMode"></app-product-grid>
</div>