<div>
  <div>
    <div id="tableSelection">
      <div>
        Outs: {{getCount(labelType.outs)}}
      </div>
      <div>
        Labels: {{getCount(labelType.shelfLabels)}}
        <fa-icon *ngIf="hasProblems()" title="Coverage issue detected, click for more info" size="lg" class="fa" 
        [icon]="faExclamationTriangle" (click)="coverageIssueClicked()"></fa-icon>
      </div>
      <div *ngIf="showMisreadBarcodes">
        Misread: {{getCount(labelType.misreadBarcodes)}}
      </div>
      <div *ngIf="showSectionLabels">
        Section Labels: {{getCount(labelType.sectionLabels)}}
      </div>
      <div *ngIf="showTopStock">
        Top Stock: {{getCount(labelType.topStock)}}
      </div>
      <div *ngIf="showSectionBreaks">
        Section Breaks: {{(sectionBreaks || []).length}}
      </div>
    </div>
  </div>
</div>

<div *ngIf='!panoMode'>
  <app-product-grid [allLabels]="allLabels" [selectedId]="currentId" (gridClicked)='productGridSelected($event)'></app-product-grid>
</div>